{% extends 'frontend/base.html' %} 
{% load static %}
<!-- Add this line -->
{% block content %}
<h1>Welcome to the <span class="highlight-text">Fraud Detection System</span></h1>
<p>Use the top bar to navigate through the app.</p>
<!-- <div class="dashboard">
    <img
        src="{% static 'frontend/images/age_vs_fraud.png' %}"
        alt="Age vs Fraud"
        class="fade-in"
    />
    <img
        src="{% static 'frontend/images/amount_vs_fraud.png' %}"
        alt="Amount vs Fraud"
        class="fade-in"
    />
</div> -->
{% endblock %}
